* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: #ef3333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff7568 0%, #a50392 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff7568 0%, #a50392 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff7568 0%, #a50392 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7568', endColorstr='#a50392',GradientType=0 );
  /* IE6-9 */ }

body {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; }

h2 {
  font-size: 21px;
  margin-bottom: 20px;
  color: #ef3333; }

.wrapper {
  margin: auto;
  width: 80%;
  max-width: 1400px;
  height: 85%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25); }

.main {
  flex-grow: 3;
  padding: 50px 25px;
  box-sizing: border-box; }

.sidebar {
  box-sizing: border-box;
  flex-grow: 1;
  border-right: 2px solid lightgray;
  padding: 25px; }

.playing-wrapper {
  width: 65%;
  margin: 0 auto; }

.play-poster {
  width: 100%;
  height: 40vh;
  background-color: gray;
  background-size: cover; }

.slider {
  width: 100%;
  display: flex; }

.controls {
  display: flex;
  justify-content: center;
  position: relative; }

.info {
  text-align: center;
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-between; }

.song-title {
  font-size: 125%;
  font-weight: bold; }

.vol-slider {
  width: 75px;
  transform: rotate(90deg);
  position: absolute;
  top: 65px;
  left: -15px; }

.volume-box {
  position: relative; }

.song-list {
  margin-bottom: 25px;
  height: 30vh;
  overflow: scroll; }

.song-list li {
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer; }

.song-list li:hover {
  background-color: rgba(239, 51, 51, 0.5); }

.list-title {
  font-weight: bold; }

.sprite {
  display: inline-block;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.btn-play {
  background-position: 0 0;
  width: 76px;
  height: 76px; }

.btn-play:hover {
  background-position: 0 -81px;
  width: 76px;
  height: 76px; }

.btn-pause {
  background-position: -79px 0;
  width: 76px;
  height: 76px; }

.btn-pause:hover {
  background-position: -79px -82px;
  width: 76px;
  height: 76px; }

.btn-next {
  background-position: -161px -23px;
  width: 31px;
  height: 30px;
  margin: 20px; }

.btn-next:hover {
  background-position: -161px -104px;
  width: 31px;
  height: 30px; }

.btn-prev {
  background-position: -199px -23px;
  width: 31px;
  height: 30px;
  margin: 20px; }

.btn-prev:hover {
  background-position: -199px -104px;
  width: 31px;
  height: 30px; }

.btn-vol {
  background-position: -236px -23px;
  width: 39px;
  height: 29px; }

.btn-vol:hover {
  background-position: -236px -105px;
  width: 39px;
  height: 29px; }

.btn-mute {
  background-position: -281px -23px;
  width: 31px;
  height: 31px; }

.btn-mute:hover {
  background-position: -281px -104px;
  width: 31px;
  height: 31px; }

.btn-shuffle {
  background-position: -321px -24px;
  width: 33px;
  height: 26px; }

.btn-shuffle:hover, .btn-shuffle-clicked {
  background-position: -321px -105px;
  width: 33px;
  height: 26px; }

.btn-repeat {
  background-position: -360px -25px;
  width: 26px;
  height: 25px; }

.btn-repeat:hover {
  background-position: -361px -106px;
  width: 26px;
  height: 25px; }

.btn-fav {
  background-position: -392px -24px;
  width: 29px;
  height: 26px; }

.btn-fav-clicked, .btn-fav:hover {
  background-position: -392px -105px;
  width: 29px;
  height: 26px; }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 25px;
  border: 2px solid #000; }

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ef3333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 25px;
  border: 2px solid #000;
  background-color: #fff; }

input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ef3333;
  border: none;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #ef3333;
  border: 0px solid #000101;
  border-radius: 50px; }

input[type=range]::-ms-fill-upper {
  background: #ef3333;
  border: 0px solid #000101;
  border-radius: 50px; }

input[type=range]::-ms-thumb {
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ef3333;
  cursor: pointer; }

::-webkit-scrollbar:horizontal {
  display: none; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 10px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #ef3333;
  border-radius: 5px; }

.push-right {
  float: right; }

.hidden {
  display: none; }

.show {
  display: initial; }

.push-down {
  margin: 5px; }

.time-left {
  width: 15px;
  margin: 7px 15px 0 -25px; }

.time-right {
  width: 15px;
  margin: 7px -25px 0px 10; }

/*# sourceMappingURL=style.css.map */
