.push-right {
	float: right;
}

.hidden {
	display: none;
}

.show {
	display: initial;
}

.push-down {
	margin: 5px;
}

.time-left {
	width: 15px;
	margin: 7px 15px 0 -25px;
}

.time-right {
	width: 15px;
	margin: 7px -25px 0px 10;
}